[Desktop Entry]
Version=2.1
Encoding=UTF-8
Name=gpacman
Comment=GTK archlinux package manager
GenericName=Package Manager
Type=Application
TryExec=gnome-pacman.py
Exec=gksu gnome-pacman.py
Icon=/usr/share/gpacman/icons/gpacman.png
Terminal=false
X-MultipleArgs=false
Categories=Application;System;
